.page-body {
    background-color: gainsboro;
    align-self: center;
}

.navigation-bar {
    background-color: white;
    align-content: center; 
    justify-content: center;
    font-size: small;
    display: block;
}

.list-bar {
    background-color: gray;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    margin-left: 5px;
}

.list-bar > li {
    display: inline-block;
    justify-content: center;
    text-align: center;
    background-color: ghostwhite;
    min-width: 10%;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}